<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Muebles San Pedro</h2>
          <p>Somos una empresa familiar vigentes en la industria de la muebleria desde 1990. tenemos una trayectoria abalada por distintas empresas.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Direccion</h2>
          <p><i class="fa fa-home mr-3"></i> Av. Alejandro Urrutia #0124, Cajon, Temuco, IX Región </p>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contacto</h2>
          <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:pedrozambro.muebles@gmail.com">pedrozambro.muebles@gmail.com</a></p>
              <p><i class="fa fa-phone mr-3"></i> <a href="tel://+56995131792"> + 569-95131792</a></p>
              <p><i class="fa fa-print mr-3"></i><a href="tel://+56983617846"> + 569-83617846</a></p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Redes Sociales</h2>
          <div class="text-center text-md-left">
            <ul class="list-unstyled list-inline" style="z-index:10">
                <li><a class="btn-floating btn-sm rgba-white-slight mx-1" href="facebook.com"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-google-plus"></i> Google Plus</a></li>
                <li><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        Made from Temuco with <i id="footer-heart" class="fas fa-heart"></i>  by <a href="https://twitter.com/naxocarvajal">naxocarvajal</a>    
      </div>
    </div>
  </div>
</footer>